We are going to study Linear Regression of singlre variable by home price prediction
y=mx+c
y=cost=dependent variable
x=area=independent variable
m= slope/variable

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

simple home price description

In [5]:
df = pd.read_csv("data/home prices(in).csv")
df

   Area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000   72500